<%= form_for(@host, :html => {:class => "form-horizontal"}, :builder => BootstrapFormBuilder) do |f| %>
  <legend><%= controller.action_name.capitalize %> Host</legend>
  <%= f.text_field :name, :placeholder => "Name of host" %>
  <%= f.text_field :ip, :placeholder => "Self detected", :readonly => true %>
  <%= f.check_box :cygwin %>
	
  <div class="form-actions"> 
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', hosts_path, :class => 'btn' %>
  </div>
<% end %>
