<%= form_for(@backup, :html => {:class => "form-horizontal"}, :builder => BootstrapFormBuilder) do |f| %>
    <legend><%= controller.action_name.capitalize %> Backup</legend>
     
    <div class="control-group">
      <%= f.label :host, :class => 'control-label' %>
      <div class="controls">
        <%= collection_select(:backup, :host_id , Host.all, :id, :name) %>
      </div>
    </div>
   
    <%= f.text_field :path, :placeholder => "Path to backup" %>
  
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', backups_path, :class => 'btn' %>
    </div>
<% end %>
